.Header{
    height: 150px;
    width: 100%;
    background-color:#4E1E2E ;
    display: flex;
    justify-content: space-around;
}
.logo{
    position: absolute;
    left:150px;
    top:0px;
    height: 40px;
    width: 40px;
    display: contents;
}
.title{
    color:#f4f4f4;
    position: absolute;
    top:90px;
}
@media screen and (max-width:500px ) {
.Header{
    display: block;
    justify-content: space-around;
	}
.logo{
    display: none;
}
.Header{
    height: 70px;
    width: 100%;

}
.title{

    top:0px;
}
}