.Header{
    height: 150px;
    width: 100%;
    background-color:#4E1E2E ;
    display: flex;
    justify-content: space-around;
}
.logo{
    position: absolute;
    left:150px;
    top:0px;
    height: 40px;
    width: 40px;
    display: contents;
}
.title{
    color:#fff
}